html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 0;
  margin: 0; }

body {
  color: #fff;
  background-color: #131a20; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h3 {
  font-weight: 500;
  margin: 0;
  font-size: 36px; }

code {
  font-size: 18px; }

.example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 480px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.outer {
  width: 50%; }

.wrap,
.desc,
.example {
  max-width: 1200px;
  width: calc(100% - 60px);
  position: relative;
  margin: 20px auto; }

.description,
.container {
  width: 50%;
  position: relative; }

header {
  width: 50%; }

header,
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.wrap,
.inner {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.wrap .container {
  width: 50%;
  height: 300px; }

.content h3 {
  font-weight: 500;
  font-size: 40px; }

.description h3 {
  margin: 0; }

.tilt h1,
[data-tilt] h1 {
  font-size: 40px; }

.tilt h1,
[data-tilt] h1,
.tilt h2,
[data-tilt] h2 {
  color: #fff; }

p {
  font-size: 22px; }

a {
  outline: none;
  text-decoration: none; }

.wrap h1,
.wrap h2 {
  font-weight: 400;
  -webkit-transform: translateZ(50px);
  transform: translateZ(50px);
  text-align: center; }

[data-tilt] span,
.tilt span {
  font-weight: lighter;
  display: block; }

[data-tilt] h1 span,
.tilt h1 span {
  font-size: 18px; }

[data-tilt] h2 span,
.tilt h2 span {
  font-size: 14px; }

[data-tilt],
.tilt {
  width: 320px;
  height: 320px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.wrap [data-tilt] {
  width: 340px;
  height: 340px; }

.wrap .container [data-tilt] h2,
.wrap .container .tilt h2 {
  font-size: 28px; }

.wrap .container .tilt,
.wrap .container [data-tilt] {
  width: 200px;
  height: 200px; }

.wrap [data-tilt] {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background: #ff0084;
  background: linear-gradient(45deg, #3c3aad 0%, #f7c340 100%); }

.wrap .container:first-child .tilt {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background: #ff0084;
  background: linear-gradient(150deg, #5a00ff 0%, #ff1ff7 100%); }

.wrap .container:nth-child(2) .tilt {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background: #ff0084;
  background: linear-gradient(135deg, #347cf7 0%, #f6290c 100%); }

.tilt-inner {
  border-radius: 5px;
  position: absolute;
  width: 60%;
  height: 60%;
  -webkit-transform: translateZ(100px);
  transform: translateZ(100px);
  -webkit-box-shadow: 0 0 50px 0 rgba(51, 51, 51, 0.3);
  box-shadow: 0 0 50px 0 rgba(51, 51, 51, 0.3);
  background-color: white; }

.output {
  list-style: none;
  height: 300px;
  overflow: scroll; }

.example:first-child .tilt {
  background: #347cf7;
  background: linear-gradient(45deg, #5df07b 0%, #0c4ef5 100%); }

.example:first-child .description h3 {
  background: #347cf7;
  background: linear-gradient(45deg, #5df07b 0%, #0c4ef5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.example:nth-child(2) .tilt {
  background: #a90329;
  background: linear-gradient(135deg, #a90329 0%, #eb8415 100%); }

.example:nth-child(2) .description h3 {
  background: #a90329;
  background: linear-gradient(135deg, #a90329 0%, #eb8415 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.example:nth-child(3) .tilt {
  background: #b7deed;
  background: linear-gradient(135deg, #b7deed 0%, #6321de 100%); }

.example:nth-child(3) .description h3 {
  background: #b7deed;
  background: linear-gradient(135deg, #b7deed 0%, #6321de 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.example:nth-child(4) .tilt {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background: #ebceb7;
  background: linear-gradient(45deg, #ebceb7 0%, #de21de 100%); }

.example:nth-child(4) .description h3 {
  background: #ebceb7;
  background: linear-gradient(45deg, #ebceb7 0%, #de21de 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.example:nth-child(5) .tilt {
  background: #1dde5d;
  background: linear-gradient(45deg, #1dde5d 0%, #1f3b08 100%); }

.example:nth-child(5) .description h3 {
  background: #1dde5d;
  background: linear-gradient(45deg, #1dde5d 0%, #1f3b08 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.example:nth-child(6) .tilt {
  background: #c5cf76;
  background: linear-gradient(45deg, #c5cf76 0%, #49a5bf 100%); }

.example:nth-child(6) .description h3 {
  background: #c5cf76;
  background: linear-gradient(45deg, #c5cf76 0%, #49a5bf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.example:nth-child(7) .tilt {
  background: #ccc;
  background: linear-gradient(45deg, #ccc 0%, #333 100%); }

.example:nth-child(7) .description h3 {
  background: #ccc;
  background: linear-gradient(45deg, #ccc 0%, #333 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.example:nth-child(8) .tilt {
  background: #f3e2c7;
  background: linear-gradient(45deg, #f3e2c7 0%, #b68d4c 100%); }

.example:nth-child(8) .description h3 {
  background: #f3e2c7;
  background: linear-gradient(45deg, #f3e2c7 0%, #b68d4c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.example:nth-child(9) .tilt {
  background: #cb60b3;
  background: linear-gradient(135deg, #cb60b3 0%, #a80077 100%); }

.example:nth-child(9) .description h3 {
  background: #cb60b3;
  background: linear-gradient(135deg, #cb60b3 0%, #a80077 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.example:nth-child(10) .tilt {
  background: #696bff;
  background: linear-gradient(338deg, #696bff 0%, #8cffe6 100%); }

.example:nth-child(10) .description h3 {
  background: #696bff;
  background: linear-gradient(338deg, #696bff 0%, #8cffe6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

@media screen and (max-width: 1040px) {
  .inner {
    display: block; }
  .wrap {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  header {
    width: 60%; }
  .outer {
    width: 40%; }
  .outer h3 {
    margin: 0 auto;
    width: 230px; }
  .outer .container {
    width: 100%;
    height: 280px; }
  .example .container {
    width: 60%; }
  .example .description {
    width: 40%; } }

@media screen and (max-width: 840px) {
  .example .container,
  .example .description {
    width: 100%; }
  .tilt {
    width: 240px;
    height: 240px; }
  .example {
    display: block; } }

@media screen and (max-width: 740px) {
  .wrap {
    display: block; }
  header {
    width: 100%; }
  .outer {
    width: 100%; }
  .outer h3 {
    text-align: center; }
  .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

@media screen and (max-width: 560px) {
  .inner {
    display: block; } }

@media screen and (max-width: 460px) {
  header [data-tilt] {
    width: 240px !important;
    height: 240px !important; }
  h3 {
    font-size: 26px !important; }
  header {
    height: 320px; }
  header h1 {
    font-size: 30px !important; } }

code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 2px; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: rgba(240, 240, 255, 0.06); }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #f8f8f2; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672; }

.token.boolean,
.token.number {
  color: #ae81ff; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2; }

.token.atrule,
.token.attr-value,
.token.function {
  color: #e6db74; }

.token.keyword {
  color: #66d9ef; }

.token.regex,
.token.important {
  color: #fd971f; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }
